.tram {
    background: #DD0B2F;
    padding: 2px 8px;
}

.train {
    background: #009551;
    border-radius: 20px;
    padding: 2px 8px;
}

.citybus {
    background: #005E79;
    border-radius: 20px;
    padding: 2px 8px;
}

.intercitybus {
    background: #005E79;
    border-radius: 20px;
    padding: 2px 8px;
}

.plusbus {
    background: #a31977;
    border-radius: 20px;
    padding: 2px 8px;
}

.suburbanrailway {
    background: #00A15E;
    border-radius: 5px;
    padding: 2px 4px;
}
