:root {
    --bg-primary: #323232;
    --bg-secondary: #fdc400;
    --bg-accent: #424242;
    --text-color: #dadce1;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular');
}

.monitor-div {
    background-color: var(--bg-primary);
    margin: 10px;
    padding: 10px;
}

.tram {
    background: #DD0B2F;
    padding: 2px 8px;
    margin: 0 auto;
}

.train {
    background: #009551;
    border-radius: 20px;
    padding: 2px 8px;
    margin: 0 auto;
}

.citybus {
    background: #005E79;
    border-radius: 20px;
    padding: 2px 8px;
    margin: 0 auto;
}

.plusbus {
    background: #a31977;
    border-radius: 20px;
    padding: 2px 8px;
    margin: 0 auto;
}

.suburbanrailway {
    background: #00A15E;
    border-radius: 5px;
    padding: 2px 4px;
    margin-top: 3px;
    font-size: 60%;
}

.table-dvb {
    background-color: var(--bg-accent);
    width: 100%;
    box-shadow: 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #00000033;
}

.table-dvb td {
    border: 1px solid white;
}
.table-dvb td:first-child {
    min-width: 0.4em;
    max-width: 2em;
    word-break: break-all;
}

.linie-tr {
    margin: 0 auto;
    display: table-cell;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.onTimeIcon{
    color: #369617FF;
}

.delayedIcon{
    color: #E83E3EFF;
}

.cancelIcon{
    color: #E83E3EFF;
}

.unknownIcon {
    color: #ffffff;
}

.statusIcon {
    padding-top: 3px;
    margin-right: 2px;
    float: left;
}


.spinning{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
